# Part One: Text Cleaning

Implement a text-cleaning function that conforms to the test-cases outlined below.

In [ ]:
import numpy as np
import pandas

In [ ]:
# clean_number
# Returns float/integer value of input text after minor text-cleaning, or 
# returns np.NaN if numeric value cannot be parsed without making excessive assumptions.
# Input: text (string)
# Output: numeric (int, float) or np.nan
def clean_number(text):
    #
    # Your implementation here.
    #

#### The clean_number method should conform to pass the following test-cases:

In [ ]:
result = clean_number('90')
assert(result == 90), result

In [ ]:
result = clean_number(' 90')
assert(result == 90), result

In [ ]:
result = clean_number('90.0')
assert(result == 90), result

In [ ]:
result = clean_number('9.0.0')
assert(np.isnan(result)), result

In [ ]:
result = clean_number('90.0!')
assert(np.isnan(result)), result

In [ ]:
result = clean_number('90*')
assert(np.isnan(result)), result

In [ ]:
result = clean_number('90hello')
assert(np.isnan(result)), result

In [ ]:
result = clean_number('hello90')
assert(np.isnan(result)), result

# Part Two: Weather Data

1. Read an input file, 'weather.csv' to a Pandas DataFrame


2. Add a new column that represents the temperature spread for the day. 

    **Spread** = maximum temp (**MxT**) - minimum temp (**MnT**)
    
Hint: The method implemented above *might* be useful!

In [ ]:
# Read file here

In [ ]:
# Add a new column for the temperature spread here.

In [ ]:
# Output the minimum valid temperature spread (exclude NaN)

In [ ]:
# Output the day(s) corresponding with the minimum temperature spread

# Part Three: Soccer League Table

The file 'football.csv' contains soccer results. Add a new column that represents the difference in 'for' (F) and 'against' (A) goals.  The columns labeled ‘F’ and ‘A’ contain the total number of goals scored for and against each team in that season (so Arsenal scored 79 goals against opponents and had 36 goals scored against them).

Write a program to print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

In [ ]:
# Your work here

# Part Four: DRY Fusion

Take the two programs written previously and factor out as much common code as possible, leaving you with two smaller programs and some kind of shared functionality.

In [ ]:
# Your work here